/* FOOTER STYLES START */
footer {
    background: var(--primary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 12px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}
/* FOOTER STYLES END */