.root {
    --primary-color:#114B5F;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: #f3e9d2;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(71, 89, 222);
}


/* HEADER / NAV BAR STYLES START */
header {
    padding: 20px 35px;
    background-color: #88d498;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0px;
    color: var(--primary-color);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
     margin: 0 30px;
     font-weight: lighter;
     font-size: 1.3vw;
     color: var(--primary-color);
     text-decoration: none;
     border-bottom: 2px solid;
     padding-bottom: 2px;
}

/* HEADER / NAVBAR STYLES END */

/* FOOTER STYLES START */
footer {
    background: var(--primary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 12px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}
/* FOOTER STYLES END */

/* STYLE ALL SECTION TABS */
section {
    padding: 10px;
}

/* APPLY STYLE TO HERO IMAGE */
.hero{
    height:400px;
    background-image: url("../images/hero-bg.jpg") ;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: relative;
}

.hero h2 {
    font-style: italic;
    font-size: 20px;
    color: var(--primary-color);
    margin-top: 300px;
    background-color: rgb(71, 89, 222);
}

/* HERO STYLES END */

/* SECTION TITLE STYLES START */


/* My Work Styles Start */
.About-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 50px;
    width: 90%;
    align-items: center; 
}


.personal-image {
    width: 200px;
    height: 200px;
}

.gallery__item{
    position: relative;
  }
  
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid 1px var(--primary-color);  
}  

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    position: relative;

}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

.gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

figcaption {
    position: absolute;
    margin-left: 5px;
    margin-top: -20%;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    color:  rgb(22, 44, 44);
    border: solid 1px var(--primary-color);
    background-color: rgb(229, 232, 238);
  }

/* CONTACT STYLES START */

.Contact-Info {
    flex: 150;
}

.Contact-Info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
    list-style: none;
    margin-left: 15px;
    width: 100%;
}

.Contact-Info ul li a {
    margin: 0 30px;
    font-size: 18px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 3px solid;
    padding-bottom: 2px;
}

/* CONTACT STYLES END */

/* MEDIA SCREEN STYLES BEGIN */

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 10px;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        flex-direction: row;
        line-height: 1.5;
    }

    header nav ul li a {
        font-size: 16px;
        font-weight: bold;
    }

    .hero{
        background-size: cover;
    }

    .hero h2 {
        font-size: 10px;
        margin-top: 350px;
    }
}