:root {
    --primary-color: #C9D5B5;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: #E3DbDB;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9F9F92;

}

/* link styling */
a {
    text-decoration: none;
}

/* HEADER STYLES START */
 header {
     padding: 20px 35px;
     background-color: #4e3d42;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 header nav {
     margin: 7px 0;
 }

 header h1 {
     font-weight: bold;
     font-size: 36px;
     color: var(--primary-color);
     margin: 0;
 }

 header nav ul {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     list-style: none;
 }

 header nav ul a {
     margin: 0 30px;
     font-weight: lighter;
     font-size: 2vw;
     color: var(--primary-color);
     text-decoration: none;
     border-bottom: 2px solid;
     padding-bottom: 2px;
 }

 header nav ul li a:hover {
     background: #4e3d42;
     border-radius: 15px;
     transition: 0.5s;
 }

 /* HEADER STYLES END */

 /* HERO STYLES BEGIN */
 .hero {
     height: 400px;
     background-image: url("./Images/hero-bg.jpg");
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
 }

 .hero h2 {
     font-style: italic;
     font-size: 20px;
     color: var(--primary-color);
     margin-top: 300px;
     background-color: #9F9F92
 }
/* HERO STYLES END */

/* CONTENT SECTION STYLING BEGINS */

.container {
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
}

.container-title {
    width: 25%;
    font-size: 48px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-right: solid black 4px;
    border-radius: 2px;
    text-align: right;
    padding-right: 20px;
    margin-right: 10px;

}

.container-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-content p {
    width: 70%;
    margin-left: 10px;
    font-size: 18px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

/* CONTENT SECTION STYLING ENDS */

/* ABOUT ME STYLING BEGINS */

.personal-picture {
    background-image:url(./Images/Wigeon.jpg);
    background-size: cover;
    height: 250px;
    width: 800px;
    border-radius: 5px;
}

/*ABOUT ME STYLING ENDS */

/*MY WORK STYLING BEGINDS */
.grid-container {
    width: 100%;
    display: flex;
    justify-content:center;
}

.grid-layout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-template-rows: repeat(3, 175px);
    grid-gap: 10px;
    grid-auto-flow: dense;
}

.module-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.module-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: var(--primary-color);
}

.screenshot {
    height: 100%;
    width: 100%;
    opacity: 0.4;
    transition: 0.5s;
}

.screenshot:hover {
    opacity: 1;
}

.description {
    position: absolute;
    width: 100px;
    padding: 10px 15px;
    margin-bottom: 20px;
    background: var(--primary-color);
    text-align: left;
}

.description h3 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.description p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

/* MY WORK STYLING ENDS */

/* CONTACT INFO STYING STARTS */

.contact {
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 15px;
}

.contact a {
    padding: 10px;
    align-content: center;
    border-bottom: 4px solid var(--primary-color);
    border-radius: 15px;
}

.contact a:hover {
    background: var(--primary-color);
    transition: 0.5s;
}

/* CONTACT INFO STYLING ENDS */


/* FOOTER STYLES START */
footer {
    background: var(--primary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

footer h2 {
    color: #000000;
    font-size: 12px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}
/* FOOTER STYLES END */

/*MEDIA QUERIES */
@media screen and (max-width: 980px) {
    .container-content {
        display: inline;
    }

    .container-content p{
        width: 100%;
    }

    .contact {
        display: flex;
    }
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        position: relative;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    .grid-layout {
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(4, 100px);
    }

    .screenshot {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .container {
        display: inline;
    }

    .container-title {
        width: 100%;
        text-align: center;
        border-right: none;
        border-bottom: solid black 4px;
        margin: 20px 0;
        padding: 0;
        padding-bottom: 10px;
    }

    .contact {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 575px) {
    header nav ul {
        justify-content:space-around;
    }

    header nav ul li a {
        margin-top: 10px;
    }
}